@CHARSET "US-ASCII";
#navbar{
	width:100%;
	height:40px;
	
	background-color:#FF7E0F;
}
#navbar ul{
	width:80%;
	margin:0 auto 0 auto;
}
#navbar ul li{
	float: left;
	color:#4266AC;
	padding:0 20px 0 20px;
	border-right:1px solid #FFF;
	border-left:1px solid #FFF;
	height:40px;
	list-style:none;
	display:block;
	line-height:30px;
	text-align:center;
	cursor:pointer;
}
#navbar ul li:hover{
	background-color:#FFA950;
}